.idea/
google-python-exercises/babynames/baby1990.summary
google-python-exercises/babynames/baby1992.summary
google-python-exercises/babynames/baby1994.summary
google-python-exercises/babynames/baby1996.summary
google-python-exercises/babynames/baby1998.summary
google-python-exercises/babynames/baby2000.summary
google-python-exercises/babynames/baby2002.summary
google-python-exercises/babynames/baby2004.summary
google-python-exercises/babynames/baby2006.summary
google-python-exercises/babynames/baby2008.summary
