.idea/
google-python-exercises/babynames/baby1990.summary
google-python-exercises/babynames/baby1992.summary
google-python-exercises/babynames/baby1994.summary
google-python-exercises/babynames/baby1996.summary
google-python-exercises/babynames/baby1998.summary
google-python-exercises/babynames/baby2000.summary
google-python-exercises/babynames/baby2002.summary
google-python-exercises/babynames/baby2004.summary
google-python-exercises/babynames/baby2006.summary
google-python-exercises/babynames/baby2008.summary
/crossfiltering/export_button_example.html
UML.mmd
google-python-exercises/.ipynb_checkpoints/
google-python-exercises/1-basic/.cache/
google-python-exercises/2-copyspecial/__another_test-file__
google-python-exercises/2-copyspecial/__testfile__
patch.diff
python_practice/fig2.png
python_practice/my_array_image.nii
python_practice/test.py
