.idea/
google-python-exercises/3-babynames/solution
/crossfiltering/export_button_example.html
UML.mmd
google-python-exercises/.ipynb_checkpoints/
google-python-exercises/1-basic/.cache/
google-python-exercises/2-copyspecial/__another_test-file__
google-python-exercises/2-copyspecial/__testfile__
patch.diff
python_practice/fig2.png
python_practice/my_array_image.nii
python_practice/test.py
